* {
   margin: 0;
   padding: 0;
   box-shadow: border-box;
}
body {
   font-family: 'Teko', sans-serif;
   background: #dbc4fa;
}
.form-control:focus,
.btn:focus {
   outline: 0;
   box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}
.col.flex-column {
   position: relative;
   height: 100vh;
}

.box {
   margin: auto;
   background: #f7f7f8;
   border-radius: 20px;
   padding: 20px;
   max-width: 350px;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   position: relative;
   overflow: hidden;
}
.box1 {
   background: #f7f7f8;
}
.generate-btn {
   height: 150px;
   width: 150px;
   border-radius: 100px;
   background: #332f54;
   color: #fff;
   text-align: center;
   font-size: 24px;
   border: 5px solid #f7f7f8;
   box-shadow: 0px 0px 0px 8px #a27dce;
   position: absolute;
   overflow: hidden;
   top: 195px;
   z-index: 2;
}
.generate-btn:focus {
   box-shadow: 0px 0px 0px 8px #a27dce;
}
.generate-btn:hover {
   color: #fff;
}
.generate-btn:before {
   content: "";
   position: absolute;
   top: 0;
   left: -68%;
   width: 50%;
   height: 100%;
   transform: skewX(30deg);
   background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
   transition: .4s;
}
.generate-btn:hover:before {
   left: 120%;
}

.box1 .form-control {
   background: none;
   height: 110px;
   color: #332f54;
   border: none;
   font-size: 48px;
   text-align: center;
}

.box2 {
   background: #332f54;
}

.box1::after,
.box2::after {
   content: "";
   width: 100%;
   height: 100%;
   top: 20px;
   left: 0;
   position: absolute;
   background: url(img/layer-bg.png);
   z-index: 1;
}

.box2 .form-control {
   background: none;
   height: 110px;
   color: #fff;
   border: none;
   font-size: 48px;
   text-align: center;
}

.calc-body {
   width: 100%;
   z-index: 2;
}
.calc-btn-row {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
.calc-btn-row .btn {
   color: #fff;
   font-size: 24px;
   width: 60px;
   height: 60px;
   border-radius: 100px;
   margin: 5px;
   transition: .4s;
}
.calc-btn-row .btn:hover {
   background: #332f54;
   /* color: #332f54; */
}
.fa-backspace {
   font-size: 18px;
}
.match-btn {
   width: 100% !important;
   margin: 5px 30px !important;
   color: #fff !important;
}

.notify-section {
   text-align: center;
   margin-top: 35px;
}
.notify-section p {
   background: #332f54;
   color: #fff;
   margin-bottom: 0;
   font-size: 18px;
   display: none;
   border-radius: 20px;
   padding: 5px 30px 0px 30px;
}

.notify-section .fa {
   margin-right: 5px;
   color:#a27dce;
}

@media (max-width: 767px) {
   .col.flex-column {
      height: auto;
   }
   .notify-section {
      margin-top: 20px;
      margin-bottom: 2px;
  }
}
